*{margin: 0;padding: 0;}
li{
    list-style: none;
}
#top{
    height: 2.75em; background-color: #0a0a0a; 
    width: 100%; overflow: hidden;
}
.top-ul{
    width: 61.25em; margin: 0 auto; overflow: hidden;
   
}
.top-ul li{
    float: left; list-style-type: none;
    padding: 0 2.75em; line-height: 2.75em;
    color: #d6d6d6; height: 2.75em;
    filter:none;
}
#top ul li a:hover{
    color: #fff;
}
#top ul li:nth-child(1){
    padding-left: 0;
}
#top ul li:nth-child(9){
    padding-right: 0;
}
#top a{
    color: #d6d6d6; text-decoration: none;
    font-size: .75em; float: left; text-align: center;
}
@media all and (max-width:320px){
    .top-ul{
        width: 1em; 
    }
    .top-ul li{
        display: none;
    }
    .top-ul li:nth-child(1){
        display:block;
    }
}
@media all and (min-width:321px) and (max-width:375px){
    .top-ul{
        width: 1em; 
    }
    .top-ul li{
        display: none;
    }
    .top-ul li:nth-child(1){
        display:block;
    }
}
@media all and (min-width:376px) and (max-width:414px){
    .top-ul{
        width: 22em; 
    }
    .top-ul li{
        padding: 0 .3em;
    }
}
/* 身体 */
#center{
    width: 980px; padding-top: 50px;
    margin-bottom: 100px; margin: 0 auto;
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 50px;
    overflow: hidden;
}
/* 身体合计属性 */
.ct-top,.shangpin{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
    border-bottom: 1px solid #d2d2d7;
    overflow: hidden;
}
.ct-top h1,i{
    font-size: 48px; font-style: normal;font-weight: 900;
}
.ct-top p{
    padding-top: 13px; font-size: 15px; font-weight: 200;
}
.ct-top button{
    width: 300px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    line-height: 1.17648;
    font-weight: 400;
    padding: 8px 16px;
    margin-top: 30px;
    border-radius: 18px;
    background: #0071e3;
    color: #fff;
    border: none;
}
/* 身体 商品 */
.sp-left{
    width: 290px; float: left; overflow: hidden;
}
.sp-left img{
    width: 100%;
}
.sp-right{
    width: 650px;float: right;
}
.sp-right ul{
    padding: 5px 0; 
    border-bottom: 1px solid #d2d2d7;
    height: 100px;
}
.sp-right ul li{
    float: left; 
    font-size: 22px; font-weight: 900;
    text-align: left;
    padding-top: 26px;
}
.sp-right ul li a,i,select{
    color: #1d1d1f; text-decoration: none;
}
.sp-right ul li a:hover{
    color: #06c;
}
.sp-right ul li i{
    font-size: 22px; 
}
.sp-right ul li:nth-child(1){
    width: 408px;
}
.sp-right ul li:nth-child(2){
    width: 80px; 
}
.sp-right ul li:nth-child(2) select{
    font-size: 28px;
    height: 34px;
    border-radius: 30px;
    display: inline-block;
    color: #06c;
    border: none;
}
.sp-right ul li:nth-child(3){
    width: 160px; text-align: right; 
}
.sp-right ul li:nth-child(3) a{
    font-size: 14px; color: #06c;
}
/* ul2 */
.li2{
    padding-top: 0 !important; width: 490px !important;
    line-height: 23px;
}
.li2 h6{
    font-size: 15px;
}
.li2 h6 p{
    font-size: 12px;
}
.li2 h6 p a{
    color: #06c;
}
.li3{
    padding-top: 0 !important; 
}
.li3 a{
    font-size: 16px !important;
}
/* ul3 */
.ul3{
    border-bottom:none !important;
}
.li5{
    font-size: 12px !important; line-height: 22px !important;
}
.li5 p a{
    color: #06c !important;
}

/* 总计 */
.zongji{
    width: 700px; float: right; overflow: hidden;
}
.zongji nav{
    height: 70px; line-height: 70px;
    border-bottom: 1px solid #d2d2d7;
}
.zongji .zj-nav{
    border: none;
}
.cj-sp-r{
    float: right;
}
/* 结算 按钮*/
.js-btm{
    width: 700px; float: right;
}
.js-btm  button{
    width: 350px;
    font-size: 20px;
    line-height: 1.17648;
    font-weight: 400;
    padding: 18px 16px;
    margin-top: 30px;
    border-radius: 10px;
    background: #0071e3;
    color: #fff;
    border: none;
    float: right;
}
/* 轮播图 */
#lunbo{
    position: relative; overflow: hidden;
    height: 641px; 
}
.imgs{
    display:block; overflow: hidden;
}
.imgs img{
    width: 100%; position: absolute;
    z-index: 1;
    opacity: 0.1;
}
.lunbo-sp{
    color: #ccc;
    background-color: #8888888c;
     border-radius: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}
.lunbo-sp-left{
    position: absolute; left: 20px; top: 50%; 
    transform: rotateY(180deg);
   
}
.lunbo-sp-right{
    position: absolute; right: 20px; top: 50%; 
    
}
.lunbo-sp-left i{
    font-size: 28px;
}
.lunbo-sp-right i{
    font-size: 28px;
}

@media all and (min-width:1024px) and (max-width:1575px){
    #lunbo{
        height: 500px;
    }
}
/* 轮播图的 按钮 */
.lunbo-btm{
    height: 15px; bottom: 5%; 
    position: absolute;
    text-align: center;
    left: calc(50% + 0px);
    transform: translatex(-50%); 
}
.lunbo-btm span{
    background-color: #888; float: left;
    width: 10px; height: 10px; border-radius: 50px;
    margin: 0 10px;
    
}
.lunbo-btm .lunbo-show{
    background-color: rgb(231, 225, 225);
}
/**   底部ul   */
#btm{
    background-color: #f5f5f7; width: 100%; height: 100%;
    margin-top: 10px; overflow: hidden;
}
.btm-center{
    width: 980px; margin: 0 auto; color: #515154; 
}
.btm-center a{
    text-decoration: none; color: #515154; 
    font-size: .75em; 
}
/**  底部 结束   */

.btm-center-bottom{
    font-size: .75em; padding: 40px 0; color: #90888b;
}
.btm-center-bottom a:hover{
    text-decoration: underline;
}
.btm-center-bottom-top a{
    color: #0070c9; 
}
.btm-center-bottom-top{
    width: 100%; border-bottom: #d2d2d7 solid 1px;
    padding-bottom: .75em;
}
.btm-center-bottom-btm{
    padding-top: .75em;
}
.btm-center-bottom-btm a:hover{
    color: #111; 
}
.btm-center-bottom-btm span{
    padding-right: 30px;
}
.btm-center-bottom-btm i{
    font-style: normal; padding: 0 10px; color: #e3e3e7;
    font-size: 1.3em;
}
@media all and (max-width:320px){
    .btm-center{
        width: 320px;
    }
    .btm-center-ul ul{
        float: left; width: 150px;
    }
    .btm-center-ul ul{
        padding-left: 10px;
    }
    .btm-center-bottom-btm span{
        display: block;
    }
}
@media all and (min-width:321px) and (max-width:375px){
    .btm-center{
        width: 375px;
    }
    .btm-center-ul ul{
        width: 85px;
    }
    .btm-center-ul-1{
        padding-left: 10px; padding-right: 10px;
    }
    .btm-center-bottom-btm span{
        display: block;
    }
}
@media all and (min-width:376px) and (max-width:414px){
    .btm-center{
        width: 414px;
    }
    .btm-center-ul ul{
        width: 80px;
    }
    .btm-center-ul-1{
        padding-left: 10px;
    }
    .btm-center-bottom-btm span{
        display: block;
    }
}